:root{
    --background-color:#f49658;
    --primary-color:#e86262;
    --border-radius:10px;
    --text-color:#ffffff;
    --border-color:#255;
    
}

*{
    margin: 0;
    padding: 0;font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--background-color)
}

.container{
    background-color: var(--primary-color);
    padding: 40px;
    width: 300px; 
    border-radius:var(--border-radius);

}

.qr-section h2{
    text-align: center;
    font-size:22px;
    color: var(--text-color);
    margin-bottom: 30px;
    text-transform:uppercase;

}
.qr-section input{
    margin-block: 10px;
    width: 100%;
}

.qr-section input select{
    padding: 10px;
    border-radius: var(--border-radius);
    font-size: 24px;
    outline: none;
    border:5px solid var(--border-color) ;

}
